{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if title %}<h3 class="my-3">{{ title }}</h3>{% endif %}
    <form method="POST" action="{% if action_url %}{{action_url}}{% endif %}">
        {% csrf_token %}
        {% if next_url %}
            <input type="hidden" name="next" value="{{ next_url }}">
        {% endif %}
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control disabled mb-3" value="{{ request.user.email }}" disabled="disabled">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'password_change' %}">Change Password</a>
    </form>
</div>
{% endblock %}