{% extends "base.html" %}
{% load static %}

{% block content %}

<div>
    <h1>Your Cart</h1>
    <table class="table cart-table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Sale Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        {% if cart.addon_item.exists %}
            <tbody class="cart-body">
                {% for combo_item in cart.combo_item.all %}
                    <tr class="combo-body">
                        <td>{{ combo_item.combo.title }}</td>
                        <td>{{ combo_item.combo.combo_regular_price }}</td>
                        <td>{{ combo_item.combo.combo_sale_price }}</td>
                        <td>

                            {% include "carts/snippets/combo-remove-single.html" with combo_id=combo_item.combo.id %}
                            
                            <span class="combo-quantity">{{ combo_item.quantity }}</span>
                            
                            {% include "carts/snippets/combo-add.html" with combo_id=combo_item.combo.id %}

                        </td>
                        <td>
                            {% if combo_item.combo.combo_sale_price %}
                                {{ combo_item.get_total_combo_sale_price }}
                                <span>Saved {{ combo_item.get_amount_saved }}</span>
                            {% else %}
                                {{ combo_item.get_total_combo_price }}
                            {% endif %}
                            
                            {% include "carts/snippets/combo-remove.html" with combo_id=combo_item.combo.id %}

                        </td>
                    </tr>
                {%endfor%}
                {% for addon_item in cart.addon_item.all %}
                    <tr class="addon-body">
                        <td>{{ addon_item.addon.name }}</td>
                        <td>{{ addon_item.addon.price }}</td>
                        <td>-</td>
                        <td>

                            {% include "carts/snippets/addon-remove-single.html" with addon_id=addon_item.addon.id %}

                            <span class="addon-quantity">{{ addon_item.quantity }}</span>

                            {% include "carts/snippets/addon-add.html" with addon_id=addon_item.addon.id %}

                        </td>
                        <td>
                            {{ addon_item.get_total_addon_price }}

                            {% include "carts/snippets/addon-remove.html" with addon_id=addon_item.addon.id %}

                        </td>
                    </tr>
                {%endfor%}
                <tr>
                    <td span="col-12"></td>
                    <td><b>Total</b><td><td><td><span class="cart-total"> {{ cart.get_total }} </span></td></td></td></td>
                </tr>
                <tr>
                    {% if cart.get_total < 150 %}
                    <td span="col-12"><i style="color:red">Your Cart Value is Less Than 150. Please Add more items</i></td>
                    <td><td><td><td><a class="btn btn-success disabled" href="">Checkout</a><a class="btn btn-warning ml-1" href="/">Continue Shopping</a></td></td></td></td>
                    {% else %}
                    <td span="col-12"></td>
                    <td><td><td><td><a class="btn btn-success" href="{% url 'carts:checkout' %}">Checkout</a></td></td></td></td>
                    {% endif %}
                </tr>
            </tbody>
        {% else %}
        <tbody class="cart-body">
            {% for item in cart.combo_item.all %}
                <tr class="combo-body">
                    <td>{{ item.combo.title }}</td>
                    <td>{{ item.combo.combo_regular_price }}</td>
                    <td>{{ item.combo.combo_sale_price }}</td>
                    <td>
                        {% include "carts/snippets/combo-remove-single.html" with combo_id=item.combo.id %}
                        
                        {{ item.quantity }}

                        {% include "carts/snippets/combo-add.html" with combo_id=item.combo.id %}

                    </td>
                    <td>
                        {% if item.combo.combo_sale_price %}
                            {{ item.get_total_combo_sale_price }}
                            <span>Saved {{ item.get_amount_saved }}</span>
                        {% else %}
                            {{ item.get_total_combo_price }}
                        {% endif %}

                        {% include "carts/snippets/combo-remove.html" with combo_id=item.combo.id %}
                    </td>
                </tr>
            {%endfor%}
            <tr>
                <td span="col-12"></td>
                <td><b>Total</b><td><td><td><span class="cart-total"> {{ cart.get_total }}</span></td></td></td></td>
            </tr>
            <tr>
                {% if cart.get_total < 150 %}
                <td span="col-12"><i style="color:red">Your Cart Value is Less Than 150. Please Add more items</i></td>
                <td><td><td><td><a class="btn btn-success disabled" href="">Checkout</a><a class="btn btn-warning ml-1" href="/">Continue Shopping</a></td></td></td></td>
                {% else %}
                <td span="col-12"></td>
                <td><td><td><td><a class="btn btn-success" href="{% url 'carts:checkout' %}">Checkout</a></td></td></td></td>
                {% endif %}
            </tr>
        </tbody>
        {% endif %}

    </table>
</div>

{% endblock %}